<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= teacher.age %>
  </p>

  <p>
    <strong>Class room:</strong>
    <%= teacher.class_room %>
  </p>

</div>
